html, body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
:root{
  --primary-bg: #8338EC;
  --black-color: #111;
  --grey-dark-color: #333;
  --grey-light-color: #666;
  --white-color: #FFF;
  --white-color-hover: #DDD;
  --action-color: #dd006E;
  --action-color-hover: #FF006E;

  /*TEXT*/
  --subtitle-sm: 17px;
  --subtitle-md: 22px;
  --subtitle-lg: 28px;
  --subtitle-weigth: 700;
  --subtitle-color: var(--black-color);
  --paragraph-size-sm: 12px;
  --paragraph-size-md: 14px;
  --paragraph-size-lg: 17px;
  --paragraph-weigth: 500;
  --paragraph-color: var(--grey-dark-color);
}

body{
  background-color: var(--primary-bg);
  color:var(--white-color);
}
hr{
  border: none;
  background-color: transparent;
  border-top: 3px solid #9249f8;
  height: 0;
}
/* NAVBAR SECTION */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  
}
nav .brand-logo{
  font-size: 26px;
  font-weight: 900;
}
.nav-options ul{
  display: flex;
}
.nav-options li{
  padding-right: 10px;
  list-style: none;
}
.options a{
  font-size: 15px;
  color: var(--white-color-hover);
  text-decoration: none;
}
.options a:hover{
  color: var(--white-color);
}

/* MAIN SECTION */
.main-section {
  padding: 8% 20% 11%;
}
h1{
  text-align: center;
  font-size: 36px;
  width: 88%;
  margin: 0 auto;
}
.products {
  height: 50px;
  background-image: url('../images/curv.png');
  background-size: cover;
  background-position: center top;
  padding: 15%;
  display: flex;
  justify-content: center;
}
.product{
  padding: 25px;
  color: var(--black-color);
  margin-top: -32%;
  max-width: 320px;
  min-width: 285px;
  box-sizing: border-box;
}
.product .content{
  padding: 20px;
  background: var(--white-color);
  min-height: 240px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(1,1,1,.3);
}
.image-content{
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.image-content img{
  width: 100%;
  object-fit: cover;
  object-position: center top;
}
.content h2{
  margin: 17px auto;
  font-size: var(--subtitle-md);
}
.product .content p{
  font-size: var(--paragraph-size-md);
  margin-bottom: 18px;
  font-weight: var(--paragraph-weigth);
  color: var(--paragraph-color);
}
.btn{
  display: inline-block;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
  text-decoration: none;
}
.btn-action{
  background-color: var(--action-color);
  color: var(--white-color);
}
.btn-action:hover{
  background-color: var(--action-color-hover);
}

/*EVENTS SECTION*/

.events {
  padding:10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event{
  padding: 35px;
  max-width: 250px;
  min-width: 200px;
  box-sizing: border-box;
}
.event .content{
  width: 100%;
  min-height: 240px;
  padding: 10px;
}
.event .content .image-content{
  width: 95%;
  height: 140px;
  margin-bottom: 40px;
}
.event .content h3{
  margin-top: 15px;
  font-size: var(--subtitle-sm);
}
.event .content p {
  font-size: var(--paragraph-size-sm);
  color: var(--white-color-hover);
  font-weight: var(--paragraph-weigth);
}

/*MENTIONS SECTION*/
.mentions{
  padding: 10% 0;
}
.mentions h2{
  margin-top: 0;
  font-size: var(--subtitle-lg);
  text-align: center;
  letter-spacing: 2px;
}
.mentions-cards{
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.mention{
  max-width: 240px;
  padding: 5px;
}
.mention .content{
  padding-bottom: 10px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(1,1,1,.3);
}
.mention .content figure{
  width: 100%;
  margin: 0;
}
.mention .content figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.mention .content h3{
  width: 90%;
  margin: 5px auto;
  font-size: var(--subtitle-sm);
  color: var(--grey-dark-color);
}
.mention .content p{
  width: 90%;
  margin: 5px auto;
  font-size: var(--paragraph-size-sm);
  color: var(--grey-light-color);
}